# --- Python environment ---
venv/
.env/
*.pyc
__pycache__/
.ipynb_checkpoints/

# --- DVC / Data ---
data/
models/
|.dvc
!.gitignore

# --- MLflow ---
mlruns/
mlflow.db

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/
